{% load static %}
<!-- product -->
<div class="product">
  <div class="product-img">
    {% if product.image %}
    <img src="{{ product.image.url }}" alt="" />
    {% else %} <img src="{% static "img/empty_image.jpg" %}" alt="" /> {% endif %}
    <div class="product-label">
      {% if product.discount %}
      <span class="sale">-{{ product.discount }}%</span>
      {% else %} {% endif %}
    </div>
  </div>
  <div class="product-body">
    <p class="product-category">{{ product.category }}</p>
    <h3 class="product-name"><a href="#">{{ product.name }}</a></h3>
    {% if product.discount %}
    <h4 class="product-price">
      {{ product.final_price }} BYN<del class="product-old-price">{{ product.price }} BYN</del>
    </h4>
    {% else %}
    <h4 class="product-price">{{ product.final_price }} BYN</h4>
    {% endif %}
    <div class="product-rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
    <div class="product-btns">
      <a href="#" class="quick-view">
      <button class="add-to-wishlist">
        <i class="fa fa-heart-o"></i>
      </button>
      </a>
      <a href="{% url "store:detail_product" product.slug %}" class="quick-view">
        <button class="quick-view">
          <i class="fa fa-eye"></i>
        </button>
      </a>
    </div>
  </div>
  <div class="add-to-cart">
    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Добавить в корзину</button>
  </div>
</div>
<!-- /product -->
