{% load static %}
{% load category_tags %}
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row justify-content-center">
      {% get_all_categories as categories %}
      {% for category in categories %}
      <!-- shop -->
      <div class="col-md-3 col-xs-4">
        <a href="{% url 'store:products' %}?category={{ category.id }}">
        <div class="shop">
          <div class="shop-img">
            {% if category.image %}
            <img src="{{ category.image.url }}" alt="" />
            {% else %} 
            <img src="{% static "img/empty_image.jpg" %}" alt="" /> 
            {% endif %}
          </div>
          <div class="shop-body">
            <h3>{{ category.name }}<br /></h3>
          </div>
        </div>
      </a>
      </div>
      <!-- /shop -->
      {% endfor %}
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
