{% load static %}
{% load category_tags %}
<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">О Нас</h3>
            <ul class="footer-links">
              <li>
                <a href="#"><i class="fa fa-map-marker"></i>Минская область</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-phone"></i>+375 (44) 531-29-33</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-envelope-o"></i>daniil.razlivanov99@gmail.com</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Категории</h3>
            <ul class="footer-links">
              {% get_all_categories as categories %}
              {% for category in categories %}
              <li><a href="{% url 'store:products' %}?category={{ category.id }}">{{ category.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Информация</h3>
            <ul class="footer-links">
              <li><a href="#">О Нас</a></li>
              <li><a href="#">Контакты</a></li>
              <li><a href="#">Политика конфиденциальности</a></li>
              <li><a href="#">Заказы и возвраты</a></li>
              <li><a href="#">Условия использования</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Сервисы</h3>
            <ul class="footer-links">
              <li><a href="#">Каталог</a></li>
              <li><a href="#">Избранное</a></li>
              <li><a href="#">Корзина</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

  <!-- bottom footer -->
  <div id="bottom-footer" class="section">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="footer-payments">
            <li>
              <a href="#"><i class="fa fa-cc-visa"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-credit-card"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-cc-paypal"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-cc-mastercard"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-cc-discover"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-cc-amex"></i></a>
            </li>
          </ul>
          <span class="copyright">
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            Все права защищены
          </span>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->
