{% load static %}
<header>
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li>
          <a href="#"><i class="fa fa-phone"></i> +375 (44) 531-29-33</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-envelope-o"></i> daniil.razlivanov99@gmail.com</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-map-marker"></i> Минская область, г. Солигорск</a>
        </li>
      </ul>
      <ul class="header-links pull-right">
        {% if request.user.is_authenticated %}
        <li>
          <a href="#"><i class="fa fa-user-o"></i> Привет, {{ request.user.username }}</a>
        </li>
        <li>
          <a href="{% url "accounts:logout" %}">Выйти</a>
        </li>
        {% else %}
        <li>
          <a href="{% url "accounts:login" %}"><i class="fa fa-user-o"></i> Войти</a>
        </li>
        <li>
          <a href="{% url "accounts:register" %}"><i class="fa fa-user-o"></i> Зарегистрироваться</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- LOGO -->
        <div class="col-md-3">
          <div class="header-logo">
            <a href="{% url "store:index" %}" class="logo">
              <img src="{% static "img/logo.png" %}" alt="" />
            </a>
          </div>
        </div>
        <!-- /LOGO -->

        <!-- SEARCH BAR -->
        <div class="col-md-6">
          <div class="header-search">
            <form method="get" action="{% url "store:products" %}">
              <input class="input" name="q" placeholder="Поиск" value="{{ request.GET.q|default:'' }}" />
              <button type="submit" class="search-btn">Поиск</button>
            </form>
          </div>
        </div>
        <!-- /SEARCH BAR -->

        {% if request.user.is_authenticated %}
        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
            <!-- Wishlist -->
            <div>
              <a href="{% url "favorite:list" %}">
                <i class="fa fa-heart-o"></i>
                <span>Избранное</span>
                <div id="favorite-count" class="qty">{{ favorite_count|default:0 }}</div>
              </a>
            </div>
            <!-- /Wishlist -->

            <!-- Cart -->
            <div>
              <a href="#">
                <i class="fa fa-shopping-cart"></i>
                <span>Корзина</span>
                <div class="qty">2</div>
              </a>
            </div>
            <!-- /Cart -->
            {% endif %}
          </div>
        </div>
        <!-- /ACCOUNT -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- /MAIN HEADER -->
</header>
