{% extends "store/base.html" %} 

{% load static %} 
{% load star_rating %} 
{% load favorites_tags %} 

{% block main %}
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb-tree">
          <li>
            <a href="javascript:history.back()" class="btn btn-outline-secondary"> ← Назад </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- Product main img -->
      <div class="col-md-5 col-md-push-2">
        <div class="product-preview">
          {% if product.image %}
          <img src="{{ product.image.url }}" alt="" />
          {% else %}
          <img src="{% static "img/empty_image.jpg" %}" alt="" />
          {% endif %}
        </div>
      </div>
      <!-- /Product main img -->

      <!-- Product thumb imgs -->
      <div class="col-md-2 col-md-pull-5">
        <div class="product-preview">
          {% if product.image %}
          <img src="{{ product.image.url }}" alt="" />
          {% else %}
          <img src="{% static "img/empty_image.jpg" %}" alt="" />
          {% endif %}
        </div>
      </div>
      <!-- /Product thumb imgs -->

      <!-- Product details -->
      <div class="col-md-5">
        <div class="product-details">
          <h2 class="product-name">{{ product.name }}</h2>
          <div>
            <div class="product-rating">
              {% for _ in product.rating|filled_stars %}
                <i class="fa fa-star"></i>
              {% endfor %}
              {% for _ in product.rating|empty_stars %}
                <i class="fa fa-star-o empty"></i>
              {% endfor %}
            </div>
            <a class="review-link" href="#">({{ reviews.count }})</a>
          </div>
          <div>
            {% if product.discount %}
            <h3 class="product-price">
              {{ product.final_price }} $ <del class="product-old-price"
                >{{ product.price }} $</del
              >
            </h3>
            {% else %}
            <h3 class="product-price">{{ product.final_price }} $</h3>
            {% endif %}
          </div>

          <div class="add-to-cart">
            <button class="add-to-cart-btn" data-product-id="{{ product.id }}">
              <i class="fa fa-shopping-cart"></i> Добавить в корзину
            </button>
          </div>

          <div class="product-btns">
            <a href="#" class="quick-view">
              <button class="add-to-wishlist" data-product-id="{{ product.id }}">
                {% is_favorited product request.user as favorite_status %}
                {% if favorite_status %}
                <i class="fa fa-heart text-danger"> Избранное</i>
                {% else %}
                <i class="fa fa-heart-o"> Избранное</i>
                {% endif %}
              </button>
            </a>
          </div>

          <ul class="product-links">
            <li>Категория:</li>
            <li>
              <a href="{% url 'store:products' %}?category={{ product.category.id }}"
                >{{ product.category }}</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- /Product details -->

      <!-- Product tab -->
      <div class="col-md-12">
        <div id="product-tab">
          <!-- product tab nav -->
          <ul class="tab-nav">
            <li class="active"><a data-toggle="tab" href="#tab1">Описание</a></li>
            <li><a data-toggle="tab" href="#tab3">Отзывы ({{ reviews.count }})</a></li>
          </ul>
          <!-- /product tab nav -->

          <!-- product tab content -->
          <div class="tab-content">
            <!-- tab1  -->
            <div id="tab1" class="tab-pane fade in active">
              <div class="row">
                <div class="col-md-12">
                  <p>{{ product.description }}</p>
                </div>
              </div>
            </div>
            <!-- /tab1  -->

            <!-- tab3  -->
            <div id="tab3" class="tab-pane fade in">
              <div class="row">
                <!-- Rating -->
                <div class="col-md-3">
                  <div id="rating">
                    <div class="rating-avg">
                      <span>{{ product.rating }}</span>
                      <div class="rating-stars">
                        {% for _ in product.rating|filled_stars %}
                          <i class="fa fa-star"></i>
                        {% endfor %}
                        {% for _ in product.rating|empty_stars %}
                          <i class="fa fa-star-o empty"></i>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Rating -->

                <!-- Reviews -->
                <div class="col-md-6">
                  <div id="reviews">
                    <ul class="reviews">
                      {% for review in reviews %}
                      <li>
                        <div class="review-heading">
                          <h5 class="name">{{review.user.username}}</h5>
                          <p class="date">{{ review.created_at|date:"d M Y, G:i" }}</p>
                          <div class="review-rating">
                            {% for i in "12345" %}
                            {% if forloop.counter <= review.rating %}
                            <i class="fa fa-star"></i>
                            {% else %}
                            <i class="fa fa-star-o empty"></i>
                            {% endif %}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="review-body">
                          <p>{{ review.comment }}</p>
                        </div>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                <!-- /Reviews -->

                <!-- Review Form -->
                <div class="col-md-3">
                  <div id="review-form">
                    {% if user.is_authenticated %}
                    <form action={% url 'reviews:add_review' product.slug %} method="POST" class="review-form">
                      {% csrf_token %}

                      {% if form.non_field_errors %}
                      <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                      </div>
                      {% endif %}

                      {{ form.comment }}

                      <div class="input-rating">
                        <span>Ваша оценка: </span>
                        <div class="stars">
                          {% for radio in form.rating %}
                            {{ radio.tag }}<label for={{ radio.id_for_label }}></label>
                          {% endfor %}
                        </div>
                        {% if form.rating.errors %}
                          <div class="text-danger">{{ form.rating.errors.0 }}</div>
                        {% endif %}
                      </div>
                      <button type="submit" class="primary-btn">Отправить отзыв</button>
                    </form>
                    {% else %}
                    <p>Пожалуйста, <a href="{% url "accounts:login" %}">войдите</a>, чтобы оставить отзыв.</p>
                    {% endif %}
                  </div>
                </div>
                <!-- /Review Form -->
              </div>
            </div>
            <!-- /tab3  -->
          </div>
          <!-- /product tab content  -->
        </div>
      </div>
      <!-- /product tab -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- Section -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h3 class="title">похожие продукты</h3>
        </div>
      </div>

      <!-- product -->
      {% for product in related_products %}
      <div class="col-md-3 col-xs-6">{% include "store/components/_card_product.html" %}</div>
      {% endfor %}
      <!-- /product -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /Section -->
{% endblock main %}
